@charset: utf-8;

body {
  background-image: url("http://i1186.photobucket.com/albums/z369/arme81531/Sky.png");
  color:#0000CC ;
}

.container {
  width:650px;
  margin:0 auto;
}

.title {
  text-align:center;
  padding-left:60px;
  margin-bottom:120px;
}

section {
  margin-bottom: 60px;
}

.section-title {
  background-image:url('line.png') ;
  background-repeat:no-repeat;
  background-position: left bottom; 
}

footer {
  margin-bottom:50px;
  text-align:center;
}

footer ul li {
  width: 150px;
  display: inline-block;
}

a {
  color:#CC00FF;
}

a:hover {
  color:white;
}

td {
    background-color:#66FFFF;
}

